.hero {
    background: white;
    display:flex;
    justify-content: space-around;
}


.hero-text {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    
}
.hero-text h1 {
    text-align: center;

}
.hero-text h1,button {
    font-family: Rubik;
    font-weight: 500;
}
.hero-text h1, button {
    margin-top:20px;
    margin-top:20px;
}


.hero-img img {
    width: 800px;
    height: 800px;
    padding: 50px
}


