.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    padding: 1.5% 2.5%;
    background-color: white;
}

.header button {
    margin:0;
    background-color: #fed497;
    padding: 20px 25px;
    border-radius: 10px;
    border:none;
    font-size: x-large;
    font-family: Rubik;
    font-weight: 500;


}
.header-logo {
    width: 350px;
    height: 75px;
}

.nav-bar  {
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav-bar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.nav-bar li a, link {
    text-decoration: none;
    font-size: 18px;
    color:#9e9c90;
    transition: 0.3s  ease;
    font-family: Rubik;
    font-weight: 500;
    font-size: x-large;
    
}


.nav-bar li a:hover,
.nav-bar li a.active {
    color:#fed497;

}

.nav-bar li a.active::after,
.nav-bar li a:hover::after {
    content: '';
    width: 30%;
    height: 2px;
    background:#fed497;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
